/* Variables*/

:root{
  --color-tarjeta: hsl(0, 0%, 100%);
  --color-contenedor-300: hsl(212, 45%, 89%);
  --color-parrafo-500: hsl(216, 15%, 48%);
  --color-titulo-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--color-contenedor-300);
    font-family: 'outfit', sans-serif;
    line-height: 1.5;
    overflow: hidden;
}
.card{
    width: 100%;
    max-width: 320px;
    margin:0 auto;
    padding: 15px;
    background-color: var(--color-tarjeta);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}
.card-content{
    padding:10px 15px;
    margin-top: 0px;
}
.card-content .title{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-titulo-900);
    margin-bottom: 15px;
}
.card-content .description{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-parrafo-500);
    margin-top: 10px;
    margin-bottom: 15px; 
}
.attribution { font-size: 11px; text-align: center; margin-top: 25px;}
.attribution a { color: hsl(228, 45%, 44%);}


/*Diseño pantalla mediana*/

@media (min-width: 768px){
    .card{
        max-width: 600px;
    }
    .card-content{
        padding: 25px;
    }
}

/* Diseño desktop */
@media (min-width: 1440px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .card{
        max-width: 375px;
        height: auto;
        padding: 20px;
    }
    img{
        width: 90%;
        margin:  0 auto;
    }
    .card-content {
       padding: 20px; /* Más espaciado en pantallas grandes */
       overflow: hidden;
    }
    .card-content .title{
        font-size: 1.5rem;
        text-align: center;
    }
    .card-content .description{
        font-size: 1rem;
    }

}
